@import '../../../styles/app.scss';

.newletter-area{
    margin-bottom: 80px;
}

.wrapper{
    padding: 100px 107px 85px;
    border-radius: 6px;
    background: url('../../../assets/bg-contact.jpg') no-repeat;
    background-position: center;
    background-size: cover;

    @include tablet{
        padding: 80px 30px 65px;
    }

    @include mobile{
        padding: 60px 20px 45px
    }
}

.title-highlighter{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    line-height: 1;
    font-size: 14px;
    color: var(--color-primary);
    font-weight: 700;

    .icon{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 24px;
        width: 24px;
        line-height: 24px;
        border-radius: 50%;
        font-size: 12px;
        text-align: center;
        margin-right: 10px;
        background-color: var(--color-primary);
        color: var(--color-white);
    }
}

.title{
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: 700;

    @include mobile{
        font-size: 30px;
    }
}

.newletter-form{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;

    @include mobile{
        flex-direction: column;
    }
}

.input-group{
    max-width: 390px;
    width: 100%;
    height: 60px;
    background: #fff;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    svg{
        margin-left: 30px;
        font-size: 20px;
        margin-right: 10px;
    }

    input{
        font-family: 'DM Sans', sans-serif;
        flex: 1;
        width: 100%;
        height: 100%;
        background: transparent;
        font-size: 14px;
        padding-right: 30px;
        color: var(--color-heading);
    }
}

.btn-submit{
    font-family: 'DM Sans', sans-serif;
    width: auto;
    font-size: 16px;
    font-weight: 700;
    padding: 16px 38px 17px;
    @include button-style(var(--color-heading), #fff)
}