@import '../../../styles/app.scss';

.modal-search {
	position: relative;
	border-radius: 10px;
	max-width: 1024px;
	width: 100%;

	@include tablet {
		width: 92%;
	}
}

.modal-body {
	height: 700px;
	max-height: 90vh;
    overflow: auto;
}